IMAGE_OPTIMIZER_ENABLED=true
IMAGE_OPTIMIZER_URL=http://127.0.0.1:8011
IMAGE_OPTIMIZER_TIMEOUT=15
IMAGE_WEBP_QUALITY=80
IMAGE_MAX_WIDTH=1920
IMAGE_MAX_HEIGHT=1920
IMAGE_THUMB_WIDTH=600
IMAGE_MAX_UPLOAD_BYTES=20971520
